@{
    ViewBag.Title = "About";
}

<style>
    .absolution {
        position: absolute;
        right: 0;
        bottom: 0;
    }
</style>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<img class="img-fluid mx-auto d-block absolution zoom" src="~/Content/images/bubble_quaggan.png" />

