@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Content/images/index_background.jpg');background-position:bottom right;background-repeat:no-repeat;background-size:cover">
    <h1>GMS</h1>
    <p class="lead">The guild Management System</p>
    <p class="lead">Every guild masters favourite tool!</p>
    <p><a href="#" class="btn btn-success btn-lg">Download the application and have fun!</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Your place to organise all guild related events</h2>
        <p>
            Wheter you are part of a big guild that does raid events every week or a smaller guild that just likes to hang out, 
            GMS has got you covered. 
            Schedule everything and make it easier for everyone to participate in guild events.
            
            GMS - Making a guild master's life easier.
        </p>
        <div class="btn btn-default">@Html.ActionLink("Learn more", "About")</div>
    </div>
    <div class="col-md-6">
        <h2>Get more tools from us</h2>
        <p>Our company is constantly thriving to make new and innovative software.</p>
        <div class="btn btn-default"><a href="#">Check out what we're working on next &raquo;</a></div>
    </div>
</div>