@{
    ViewBag.Title = "User";
}

<div class="row">
    <div class="col-md-4">
        <h2>@HttpContext.Current.Session["Username"].ToString()</h2>
        @Html.ActionLink("Enter your api key", "ApiForm", "Home") </br>
        @Html.ActionLink("Create new guild event", "CreateEventForm", "Home")
    </div>
</div>

