
@{
    ViewBag.Title = "Unkown error";
}

<div class="jumbotron" style="background-image: url('../../Content/images/error_background.jpg');background-position:bottom right;background-repeat:no-repeat;background-size:cover;min-height:350px;">
    <h1>@ViewBag.Title</h1>
    <p class="lead">An error occurred while processing your request.</p>
    <p class="lead">Page not found.</p>
</div>