
@{
    ViewBag.Title = "Not Found";
}

<h2>Not Found</h2>

<div class="jumbotron" style="background-image: url('../../Content/images/error_background.jpg');background-position:bottom right;background-repeat:no-repeat;background-size:cover;min-height:350px;">
    <h1>404</h1>
    <p class="lead">An error occurred while processing your request.</p>
    <p class="lead">Page not found.</p>
</div>

<div class="row">
    <img class="img-fluid rounded mx-auto d-block" src="~/Content/images/error_quaggan.png" style="height:350px;width:350px"/>
</div>