@{
    ViewBag.Title = "User";
}

@Scripts.Render("~/bundles/jquery")
<script src="~/JavaScript/user.js"></script>

<div class="row">
    <div class="col-8 list-group">
        <h5>Your events</h5>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Event type</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody id="events">
            </tbody>
        </table>
    </div>
    <div id="characters" class="col-md-4 list-group">
        <h5>Your characters</h5>
    </div>
    <div class="toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; left: 50%; bottom: 15%; transform: translate(-50%, 0px); z-index: 9999;">
        <div class="toast-header">
            <img src="https://static.staticwars.com/quaggans/summer.jpg" class="rounded mr-2" style="width:50px; height:50px;" alt="...">
            <strong class="mr-auto">GMS</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Your characters are loading.
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var apiToken = '@ViewBag.ApiToken';
            loadCharacters(apiToken);
        });
</script>

<script type="text/javascript">
        $(document).ready(function () {
            var apiToken = '@ViewBag.ApiToken';
            var userToken = '@ViewBag.UserToken';
            loadEvents(apiToken, userToken);
        });
</script>

<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>