<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="row">
        <hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
    </div>
    <div class="row">
        <div class="col-12">
            <img resource="~/Content/Images/error_quaggan_404.jpg" class="rounded mx-auto d-block img-fluid"/>
        </div>
    </div>
    
</body>
</html>
